<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="css/styles.css"> 
    <title>My new about</title>
</head>

<body>

  <div class="main-content">
        {{>header}}

        <p>This site was created by Vaibhav. It uses data from mapbox.com and darksky.net</p>

    </div>

    {{>footer}}            
</body>

</html>