<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="css/styles.css"> 
    <title>My help title</title>
</head>

<body>
      <div class="main-content">
        {{>header}}

        <p>{{name}}</p>

    </div>
    {{>footer}}            
</body>
</html>

